

@media(min-width:300px){
	.logo {
		width: 220px;
		height: 40px;
		padding-top: 10px;
	}

	header .container {
	height: 500px;
}

.btn-xl{
	padding: 10px 20px;
	font-size: 12px;
}

}


@media(min-width: 500px){
	.logo{
		width: 280px;
		height: 40px;
		padding-top: 5px;
		margin-left: 0px;
		padding-left: 0px;
	}
}




























@media(min-width:768px) {
	header .container .intro-text .intro-lead-in {
		margin-top: 150px;
		font-size: 80px;
		line-height: 80px;
		width: 80%;
		margin-left: 10%;
		margin-right: 10%
	}


	.navbar-default {
      padding: 0px 0;
      border: 0;
      background-color: transparent;
      -webkit-transition: padding .3s;
      -moz-transition: padding .3s;
      transition: padding .3s;
  }

  .navbar-default .navbar-brand {
      font-size: 2em;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
  }

  .navbar-default .navbar-nav>.active>a {
      border-radius: 3px;
  }

  .navbar-default.navbar-shrink {
      padding: 10px 0;
      background-color: #222;
  }

  .navbar-default.navbar-shrink .navbar-brand {
      font-size: 1.5em;
  }

  section {
        padding: 150px 0;
    }


	.logo{
		width: 260px;
	}

	header .container {
	height: 800px;
}


}


@media(min-width: 840px){
	.logo{
		width: 270px;
		height: 40px;
		float: left;
	}

	.btn-xl{
	padding: 20px 40px;
	font-size: 18px;
}
}



@media(min-width: 1000px){
	.logo{
		width: 450px;
		height: 50px;
	}
}



@media(min-width: 1200px){
	.logo{
		width: 600px;
		height: 70px;
		padding-bottom: 10px;
	}


	li .page-scroll{
		font-size: 1.1em;
	}

	#page-top .navbar-fixed-top{
		padding-top: 10px;
	}

	


}






/*Fixes the reviews page, so it looks better, particularly on mobile devices*/
@media(max-width: 840px){
	#reviews .fa-chevron-left, #reviews .fa-chevron-right{
		font-size: 2em;
	}

	#reviews .container p{
		margin-left: 10%;
		margin-right: 10%;
	}

	#reviews .container .carousel-inner {
		height: 350px;
	}

	#reviews #myCarousel{
		margin-top: 40px;
	}


}








/*This makes the navbar logo not wrap on different line.  strange bug that doesn't really fix root of problem*/
@media(max-width: 995px){
	.navbar-brand{
		padding: 0px;
	}
}


























/*stuff that i took from old agency.css file*/

	/*@media(min-width:768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 60px;
        font-style: italic;
        line-height: 40px;
        color: #2980b9;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 45px;
        font-weight: 700;
        line-height: 75px;
        color: #2980b9;
    }
}*/