/*header .container {
	height: 800px;
}*/


header .container .intro-text .btn-xl {
	margin-top: 20px;
}



.fa-circle {
	color: #2980b9;
}


#info .container h1{
	margin-bottom: 50px;
}


#team .img-circle {
	border-radius: 140px;
}



