/*header .container {
	height: 800px;
}*/


header .container .intro-text .btn-xl {
	margin-top: 20px;
}



.fa-circle {
	color: #2980b9;
}



#info  h1{
	padding-bottom: 20px;
}


#team .img-circle {
	border-radius: 140px;
}


#map{
	padding: 0;
	margin: 0;
}

.map {
	padding: 0
	margin: 0;
}


#contact{
	background: rgb(34,34,34); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(34,34,34,1) 0%, rgba(56,56,56,1) 72%, rgba(79,79,79,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(34,34,34,1)), color-stop(72%,rgba(56,56,56,1)), color-stop(100%,rgba(79,79,79,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(34,34,34,1) 0%,rgba(56,56,56,1) 72%,rgba(79,79,79,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(34,34,34,1) 0%,rgba(56,56,56,1) 72%,rgba(79,79,79,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(34,34,34,1) 0%,rgba(56,56,56,1) 72%,rgba(79,79,79,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(34,34,34,1) 0%,rgba(56,56,56,1) 72%,rgba(79,79,79,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#4f4f4f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}




.hoursprices{
	border-top: 5px #222 solid;
	margin-top: 40px;
	padding-top: 30px;
}


iframe.map{
	border: 1px solid #222;
}

.address{
	padding-top: 30px;
	text-align: left;
}

.address ul{
	padding-left: 0;
	margin-left: 0;
}

ul.address li {
	list-style: none;
	padding: 5px 5px 5px 0;
	margin-left: 0;
}

ul.address li:first-child{
	font-weight: bold;
}

.address i {
	margin-right: 15px;
}





#services .icons{
	margin-top: 15px;
}

#services h4{
	margin-top: 15px;
}




























